1ï¸âƒ£ Setup
Install MySQL server and make sure itâ€™s running.

Install Python packages:

pip install mysql-connector-python pandas

2ï¸âƒ£ Create the MySQL Database & Table

In [9]:
import mysql.connector

# Connect to MySQL (no database selected yet)
conn = mysql.connector.connect(
        host='127.0.0.1',
        port=3306,
        user='root',
        password='*Notebook@2025',
        connection_timeout=5
)
cursor = conn.cursor()

# # Create database
cursor.execute("CREATE DATABASE IF NOT EXISTS company_db")

# Select the database
cursor.execute("USE company_db")

# Create employees table
cursor.execute("""
CREATE TABLE IF NOT EXISTS employees (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    city VARCHAR(50),
    salary DECIMAL(10, 2)
)
""")

conn.commit()

3ï¸âƒ£ Insert Employee Data (From Pandas)

In [11]:
import pandas as pd

# Sample DataFrame
data = {
    
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],
    'age': [25, 30, 35, 40, 28],
    'city': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix'],
    'salary': [50000, 60000, 75000, 80000, 55000]
}
df = pd.DataFrame(data)

# Insert into MySQL
for _, row in df.iterrows():
    cursor.execute(
        "INSERT INTO employees (name, age, city, salary) VALUES (%s, %s, %s, %s)",
        tuple(row)
    )
conn.commit()

4ï¸âƒ£ Query & Analysis

In [12]:
# Read from MySQL into Pandas
query = "SELECT * FROM employees"
df_mysql = pd.read_sql(query, conn)

# Analytics Examples
print("\nAverage Salary:")
print(df_mysql['salary'].mean())

print("\nEmployees earning above 60k:")
print(df_mysql[df_mysql['salary'] > 60000])

print("\nEmployee count by city:")
print(df_mysql['city'].value_counts())

Average Salary:
64000.0

Employees earning above 60k:
    id     name  age     city   salary
2    3  Charlie   35  Chicago  75000.0
3    4    David   40  Houston  80000.0
7    8  Charlie   35  Chicago  75000.0
8    9    David   40  Houston  80000.0
12  13  Charlie   35  Chicago  75000.0
13  14    David   40  Houston  80000.0
17  18  Charlie   35  Chicago  75000.0
18  19    David   40  Houston  80000.0

Employee count by city:
city
New York       4
Los Angeles    4
Chicago        4
Houston        4
Phoenix        4
Name: count, dtype: int64

C:\Users\admin\AppData\Local\Temp\ipykernel_12828\1190387216.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_mysql = pd.read_sql(query, conn)

ðŸ“¤ Export Reports in Pandas

In [10]:
# Export Average Salary to CSV
avg_salary = df_mysql['salary'].mean()
pd.DataFrame({'Average Salary': [avg_salary]}).to_csv('average_salary.csv', index=False)

# Export Employees earning above 60k to Excel
high_earners = df_mysql[df_mysql['salary'] > 60000]
high_earners.to_excel('high_earners.xlsx', index=False)

# Export Employee count by city to CSV

city_counts = df_mysql['city'].value_counts().reset_index()
city_counts.columns = ['City', 'Employee Count']
city_counts.to_csv('employee_count_by_city.csv', index=False)